body{
 background-image: url("../img/backgrond.jpg");
}
nav{
    background-color: aqua;
    margin-bottom: 10px;
}

header {
    background-color: aqua;
    padding: 50px 20px;
    text-align: center;
    background-image: url("../img/header.jpg");
}

header h1 {
    margin-bottom: 5px;
}

main {
    padding: 10px;
}

section {
    margin-bottom: 30px;
}

h2,h1,p {
    color: black;
    background-color: aqua;
}

#idekell{
    display: grid;
    grid-template-columns: repeat(4,20rem);
    
}

#kiemelt{
    size: 2rem;
}

#search{
    background-color: whitesmoke;
}

#kereses{
    color: black;
}
#bal{
display: block;;

}

.card{
    border-radius: 15%;
    background-color: aqua;

}