body{
 background-image: url("../img/header.jpg");
}
nav{
    background-color: rgb(176, 152, 121);
    margin-bottom: 10px;
}

header {
    padding: 50px 20px;
    text-align: center;
    background-image: url("../img/background.jpg");
}

header h1 {
    margin-bottom: 5px;
}

section {
    margin-bottom: 30px;
}
h1{
    color: black;
}
h2{
    color: black;
    background-color: rgba(255,255,255, 0.5);
    text-align: center;
}
h3{
    color: black;
}
h4{
    color: black;
    background-color: rgba(255,255,255, 0.5);
    text-align: center;
}


#featured{
    margin: auto;
}


#search{
    background-color: whitesmoke;
}

#kereses{
    color: black;
}


